uvicorn==0.13.4
fastapi==0.63.0
python-multipart==0.0.5
psycopg2-binary==2.8.6
configparser==5.0.2
passlib==1.7.4
python-jose==3.2.0
pycryptodome==3.10.1
alembic==1.6.5
webdavclient3==3.14.5
datetime==4.3

# ML
onnx==1.10.1
onnxruntime==1.8.1
albumentations==1.0.3
torch==1.9.1
torchvision==0.10.1
torchaudio==0.9.1
tqdm==4.62.3
cython==0.29.24
joblib==1.0.1
facenet_pytorch==2.5.2
scikit-learn==0.24.2